body {
    background-color: #FFFFFF;
    font-family: Didot, Palatino, serif;
    text-align: justify;
}

a {
  text-decoration: none;
}

a:hover {
    background-color: #C8C8D0;
    color: blue;
}

a:active {
    background-color: yellow;
    color: red;
}

a:link img, a:visited img {
    border-style: none;
}

#container {
    background-color: #F0F0F0;
	width:56em;
	margin:20px auto;
	box-shadow: 1px -2px 18px #CCCCCC;
}

#content {
     padding: 0.625em 0.625em 1.25em 1.25em;
	float:left;
	width:40em; // 80 chars
}

#sidebar {
  float:right;
  width:12em;
  padding: 0.625em 1.25em 1.25em 0.625em;
}

#sidebar ul {
    border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    border-top: 1px solid gray;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;
    margin: 0;
    padding: 0.25em 0.5em 0.25em 1em;
    text-align: left;
    width: auto;
}

#sidebar a {
    text-decoration: none;
}

#sidebar li:first-child {
    border: medium none;
}

#footer {
	clear:both;
}

code, pre {
    font-family: andale mono,monospace;
    font-size: 0.9em;
}

pre {
    background-clip: padding-box;
    background-color: #FAFAFB;
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    color: #393939;
    margin: 0;
    overflow: auto;
    padding: 0.625em;
}

.title {
    background: none repeat scroll 0 0 darkSlateGray;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 20px 1.5em 20px -1.5em;
    padding: 10px 20px;
    box-shadow: 1px -2px 18px #CCCCCC;
    font-size: 200%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: left;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}
