body {
    background-color: #FFFFFF;
    font-family: Didot, Palatino, Cochin, Cambria, Georgia,serif;
    text-align: justify;
}

a:hover {
    background-color: #C8C8D0;
    color: blue;
}

a:active {
    background-color: yellow;
    color: red;
}

a:link img, a:visited img {
    border-style: none;
}

#container {
    background-color: #F0F0F0;
	width:960px;
	margin:20px auto;
	box-shadow: 1px -2px 18px #CCCCCC;
}

#content {
     padding: 10px 20px 20px;
	float:left;
	width:40em; // 80 chars
}

#sidebar {
	float:left;
	width:10em;
}

#footer {
	clear:both;
}

code, pre {
    font-family: andale mono,monospace;
    font-size: 0.9em;
}

pre {
    background-clip: padding-box;
    background-color: #FAFAFB;
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    color: #393939;
    margin: 0;
    overflow: auto;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: optima,"trebuchet MS",verdana,sans-serif;
    text-align: left;
}

h1 {
    background: none repeat scroll 0 0 #046D8B;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 20px 0 20px -100px;
    padding: 10px 20px;
    box-shadow: 1px -2px 18px #CCCCCC;
}

div.div-code {
    background-color: white;
    border: 2px solid black;
    color: #000066;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0 10px;
    width: auto;
}

div.div-warning {
    color: #FF0000;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    width: auto;
}

dt {
    font-weight: bold;
}

code {
    color: #000066;
}

pan.contact-name {
    font-style: italic;
}

span.duration {
    font-weight: bold;
}

#intro {
}

#form {
    text-align: right;
}
