<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/pygments.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <script src="scripts/cufon-yui.js" type="text/javascript"></script>
    <script src="scripts/Optima_700.font.js" type="text/javascript"></script>
    <script type="text/javascript">
      Cufon.replace('h1, h2, h3');
      Cufon.replace('.title, #sidebar li');
    </script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <a href="https://github.com/ggtools/LRSync">
      <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" style="position: absolute; top: 0; right: 0; border: 0;">
    </a>
    <div id="container">
      <div id="header">
        <div class="title">{{ page.title }}</div>
      </div>
      <div id="content">
  
            {{ content }}
            
      </div><!-- /#main -->
      <div id="sidebar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="download.html">Download &amp; Install</a></li>
        <li><a href="configuration.html">Configuration</a></li>
        <li><a href="https://github.com/ggtools/LRSync/wiki">Wiki</a></li>
      </ul>
        <!--<script type="text/javascript">
          var headers = document.getElementsByTagName("h2");
          for (var i = 0 ; i < headers.length ; i++) {
            var header = headers[i];
            var id = header.getAttribute("id");
            document.writeln('<a class="toc" href="#'+id+'">'+header.firstChild.nodeValue+'</a><br>');
          }
        </script>-->
      </div>
      <div id="footer">
      </div>
    </div><!-- /container -->
    <script type="text/javascript"> Cufon.now(); </script>
  </body>
</html>